<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><a href="#" {{action "sortByTitle" target="controller"}}>Title</a></th>
      <th><a href="#" {{action "sortByRating" target="controller"}}>MPAA Rating</th>
      <th><a href="#" {{action "sortByYear" target="controller"}}>Year</th>
    </tr>
  </thead>

  {{#collection contentBinding="controller.sortedMovies" tagName="tbody"}}
    <td><a {{bindAttr href="content.editPath"}}>{{content.title}}</a></td>
    <td>{{content.mpaa_rating}}</td>
    <td>{{content.year}}</td>
  {{/collection}}

</table>

